.items {
  border: 1px solid #ccc;
  padding: 1em;
  min-height: 3em;
  display: flex;
  gap: 1em;
  background-color: #242424;
  corner-shape: squircle;
  border-radius: 1em;
  box-sizing: border-box;
}
