.item {
  border: 1px solid #ccc;
  padding: 0.5em 1em;
  background-color: #242424;
  corner-shape: squircle;
  border-radius: 1em;
}

.item-type {
  font-weight: bold;
}

.item-quantity {
  font-style: italic;
  text-align: center;
}